@model AngryEnergy_Test.Models.FarmerModel

@{
    ViewData["Title"] = "Add Farmer";
}
<div class="card container">
	<br/>
	<h1 class="text-center">Add Farmer</h1>

	<form asp-action="Add" method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="form-group">
						<label for="firstName">First Name:</label>
						<input id="firstName" asp-for="UserModel.FirstName" class="form-control" />
						<span asp-validation-for="UserModel.FirstName" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="lastName">Last Name:</label>
						<input id="lastName" asp-for="UserModel.LastName" class="form-control" />
						<span asp-validation-for="UserModel.LastName" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="form-group">
						<label for="email">Email Address:</label>
						<input id="email" asp-for="UserModel.Email" class="form-control" />
						<span asp-validation-for="UserModel.Email" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="contact">Contact Number:</label>
						<input id="contact" asp-for="UserModel.Contact" class="form-control" />
						<span asp-validation-for="UserModel.Contact" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="form-group">
					<label for="address">Address:</label>
					<input id="address" asp-for="Address" class="form-control" />
					<span asp-validation-for="Address" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="form-group">
					<label for="farmType">Farm Type:</label>
					<input id="farmType" asp-for="FarmType" class="form-control" />
					<span asp-validation-for="FarmType" class="text-danger"></span>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col d-flex justify-content-center">
				<button type="submit" class=" w-25 btn btn-success btn-block mt-4">Submit</button>
			</div>
		</div>

	</form>

	<!-- Display temporary password -->
	<div class="row mt-3">
		<div class="text-center col-md-8 offset-md-2">
			<label>Password Message:</label>
			<div class="input-group">
				<input type="text" id="tempPassword" class="form-control" value="When logging in, Farmer must create own Temporay Password. Farmer will be redirected to Reset Password." readonly />
				@* <div class="input-group-append">
					<button type="button" class="btn btn-secondary" onclick="copyToClipboard()">Copy</button>
				</div> *@
			</div>
		</div>
	</div>
	<!-- Reset Button -->
	<div class="row mt-3">
		<div class="text-center col-md-8 offset-md-2">
			<button type="button" class=" w-20 btn btn-success" onclick="resetForm()">Clear Fields</button>
		</div>
	</div>
	<br/>
</div>


@section Scripts {
    <script>
        function resetForm() {
            // Reset all input fields
            document.getElementById("firstName").value = "";
            document.getElementById("lastName").value = "";
            document.getElementById("email").value = "";
            document.getElementById("contact").value = "";
            document.getElementById("address").value = "";
            document.getElementById("farmType").value = "";
            document.getElementById("tempPassword").value = "";
        }

        function copyToClipboard() {
            var tempPassword = document.getElementById("tempPassword");
            tempPassword.select();
            document.execCommand("copy");
            alert("Temporary password copied to clipboard!");
        }
    </script>
}
