html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
   
}

.specific-view-background {
    background-image: url('../whatsapp image 2024-05-31 at 1.02.00 am.jpeg'); /* Replace 'path/to/your/specific/image.jpg' with the actual path to your specific image */
    background-size: cover; /* This property ensures that the background image covers the entire element */
    background-position: center; /* This property centers the background image */
    /* You can also adjust other background properties like background-repeat, background-attachment, etc. */
}

